.container {
  background-color: #f1f1f1;
  background: url("../imgs/wood_floor.jpg");
  box-sizing: border-box;
  padding: 25px;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;

}

/***********************************/
.single-card {
  background-color: #fff;
  border-width: 2px;
  border-bottom-width: 8px;
  border-radius: 5px;
  padding: 10px;
  width: 40px;
  height: 80px;
  border-style: solid;
  float: left;
}

.suite-text {
  align-self: flex-start;
}

.value-text {
  align-self: flex-end;
}

.clubs, .spades {
  border-color: #32475A;
  color: #32475A;
}

.hearts, .diamonds {
  border-color: #E41800;
  color: #E41800;
}

.game-area {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  position: fixed;
  height: 400px;
  width: 300px;
}

.carpet {
  background-image: url('../imgs/carpet.jpg');
  background-size: 300px 400px;
  background-repeat: no-repeat;
  height: 400px;
  width: 300px;
}

.carpet-absolute {
  background-size: 300px 400px;
  background-repeat: no-repeat;
  height: 400px;
  width: 300px;
  position: absolute;
}

.carpet .single-card {
  border-bottom-width: 10px;
  width:50px;
  height: 60px;
  float: left;
  font-size: 10px;
}

.hand {
  width: 100%;
}

.player {
  position: absolute;
}
