@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);

.deck {
  list-style: none;
  position: relative;
  height: 350px;
  width: 550px;
}

.deck > :nth-child(1n+0) { transform: rotate(2.02deg); }
.deck > :nth-child(2n+0) { transform: rotate(-0.87deg); }
.deck > :nth-child(3n+0) { transform: rotate(-0.16deg); }
.deck > :nth-child(4n+0) { transform: rotate(1.84deg); }
.deck > :nth-child(5n+0) { transform: rotate(0.32deg); }
.deck > :nth-child(6n+0) { transform: rotate(1.63deg); }
.deck > :nth-child(7n+0) { transform: rotate(0.44deg); }
.deck > :nth-child(8n+0) { transform: rotate(-0.35deg); }
.deck > :nth-child(9n+0) { transform: rotate(2.47deg); }
.deck > :nth-child(10n+0) { transform: rotate(-2.27deg); }

/*
  TODO: Use PostCSS to better manage the css for the project. all the code below
  is copy/pasted from the react-card repo.
*/

.card {
  display: block;
  perspective: 1000px;
  position: absolute;
}

.card-transform {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.card-flipped .card-transform {
  transform: rotateY(175deg);
}

.card, .card-front, .card-back {
  width: 500px;
  height: 500px;
}

.card-front, .card-back {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid black;
}

.card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}

.center-within-viewport {
  left: 50%;
  top: 50%;
  margin-top: -150px;
  margin-left: -250px;
}

.index-card {
  font-family: 'Reenie Beanie', cursive;
  color: #555;
}

.index-card, .index-card .card-front, .index-card .card-back {
  width: 500px;
  height: 300px;
}

.index-card .card-front, .index-card .card-back {
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.index-card .card-front h1 {
  font-size: 48px;
  line-height: 300px;
  text-align: center;
  margin: 0;
}

.index-card .card-back {
  background-image:
    linear-gradient(180deg, white 30px, #F0A4A4 30px, #F0A4A4 32px, transparent 1px),
    repeating-linear-gradient(180deg, transparent, transparent 25px, #DDD 1px, #DDD 26px);
}

.index-card .card-back h1 {
  font-size: 32px;
  line-height: 30px;
  margin: 0;
}

.index-card .card-back p {
  font-size: 28px;
  line-height: 26px;
  margin: 0;
}